@import './functions';

// Breakpoints
$breakpoints: (
	sm: rem(768),
	md: rem(1200),
	lg: rem(1920),
);

// Font sizes
$font-settings: (
	sm: (
		hero: (
			font-size: rem(49),
			line-height: rem(49),
			letter-spacing: -0.05em,
		),
		primary: (
			font-size: rem(18),
			line-height: rem(19),
			letter-spacing: -0.06em,
		),
		link: (
			font-size: rem(10),
			line-height: rem(10),
			letter-spacing: -0.045em,
		),
	),
	md: (
		hero: (
			font-size: rem(134),
			line-height: rem(138),
			letter-spacing: -0.05em,
		),
		primary: (
			font-size: rem(45),
			line-height: rem(45),
			letter-spacing: -0.06em,
		),
		link: (
			font-size: rem(18),
			line-height: rem(18),
			letter-spacing: -0.045em,
		),
	),
);

// Colors
$color-primary: #736357;
$color-secondary: #f9f5ef;

// Animation
$tspeed: 200ms;

// Other
$opacity: 0.3;
$border-style: 2px solid $color-primary;
