@import '../../assets/style/functions';
@import '../../assets/style/mixins';
@import '../../assets/style/variables';

.button {
	appearance: none;
	border: none;
	background: none;
	padding: 0;
	opacity: 1;
	color: $color-primary;
	transition: opacity $tspeed;
	will-change: opacity;
	cursor: pointer;
	@include outputList(getNestedMap($font-settings, 'sm', 'primary'));
	@include atSmall {
		@include outputList(getNestedMap($font-settings, 'md', 'primary'));
	}
	@include atMedium {
		@include outputList(getNestedMap($font-settings, 'lg', 'primary'));
	}
	&:hover {
		opacity: $opacity;
	}
}
