@import '../../assets/style/functions';
@import '../../assets/style/mixins';
@import '../../assets/style/variables';

.form {
	margin-top: rem(100);
	@include atMedium {
		margin-top: rem(240);
	}
	&_top {
		text-transform: uppercase;
		margin-bottom: rem(10);
	}
	&_item {
		line-height: unset;
		color: $color-primary;
		padding: 0;
		display: block;
		background: none;
		border: none;
		// Negative margins offset sizing quirks of inputs
		margin-bottom: rem(-3);
		margin-left: rem(-3);
		@include outputList(getNestedMap($font-settings, 'sm', 'hero'));
		@include atSmall {
			@include outputList(getNestedMap($font-settings, 'md', 'hero'));
			margin-bottom: rem(-3);
			margin-left: rem(-8);
		}
		@include atMedium {
			@include outputList(getNestedMap($font-settings, 'lg', 'hero'));
		}
		&___input {
			margin-bottom: rem(-8);
			@include atMedium {
				margin-bottom: rem(-10);
			}
			&::placeholder {
				color: $color-primary;
				opacity: $opacity;
				padding: 0;
				margin: 0;
			}
		}
	}
	&_btn {
		margin-top: rem(40);
		@include atMedium {
			margin-top: rem(60);
		}
	}
}

@include removeOutline('.form_item');
