@import '../../assets/style/functions';
@import '../../assets/style/mixins';
@import '../../assets/style/variables';

.hero {
	display: flex;
	flex-wrap: wrap;
	margin-top: (100vh);
	// Offset for fixed header
	padding-top: rem(72);
	@include atSmall {
		display: inline-flex;
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: nowrap;
	}
	&_center {
		@include outputList(getNestedMap($font-settings, 'sm', 'hero'));
		@include atSmall {
			@include outputList(getNestedMap($font-settings, 'md', 'hero'));
		}
		@include atMedium {
			@include outputList(getNestedMap($font-settings, 'lg', 'hero'));
		}
		br {
			display: none;
			// Custom break for ideal text wrapping
			@include atCustom(1605) {
				display: block;
			}
		}
	}
	&_bottom {
		max-width: rem(848);
		align-self: flex-end;
		&_head {
			@include outputList(getNestedMap($font-settings, 'sm', 'link'));
			@include atSmall {
				@include outputList(getNestedMap($font-settings, 'md', 'link'));
			}
			text-transform: uppercase;
		}
		&_content {
			@include outputList(getNestedMap($font-settings, 'sm', 'primary'));
			@include atSmall {
				@include outputList(getNestedMap($font-settings, 'md', 'primary'));
			}

			@include atMedium {
				@include outputList(getNestedMap($font-settings, 'lg', 'primary'));
			}
			margin: rem(10) 0;
		}
	}
}
