@import '../../assets/style/functions';
@import '../../assets/style/mixins';
@import '../../assets/style/variables';

.carousel {
	$spacing: rem(26);
	min-height: 100vh;
	@include atMedium {
		min-height: auto;
	}
	&_wrapper {
		display: flex;
		overflow: hidden;
		padding-top: 100px;
		&_img {
			width: 100%;
		}
	}
	&_infoBar {
		margin-bottom: $spacing;
		@include outputList(getNestedMap($font-settings, 'sm', 'primary'));
		@include atMedium {
			@include outputList(getNestedMap($font-settings, 'md', 'primary'));
		}
		&_top {
			display: flex;
			align-content: stretch;
			padding: $spacing 0;
			border-bottom: $border-style;
			div {
				flex: 1 0 0;
			}
		}
		&_desc {
			max-height: 0;
			transition: max-height $tspeed;
			will-change: max-height;
			overflow: hidden;
			&___open {
				max-height: rem(200);
				overflow-y: auto;
			}
		}
	}
}
