@import '../../assets/style/functions';
@import '../../assets/style/mixins';
@import '../../assets/style/variables';

.carousel {
	$spacing: rem(14);
	$spacing-md: rem(26);
	margin-top: 100px;
	@include atSmall {
		min-height: auto;
	}
	&_wrapper {
		position: relative;
		overflow: hidden;
		@include atSmall {
			cursor: none;
		}
		&_inner {
			display: flex;
			transition: transform 500ms;
			will-change: transform;
			&_img {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		&_cursor {
			display: none;
			position: absolute;
			mix-blend-mode: difference;
			text-transform: uppercase;
			z-index: 10;
			@include atSmall {
				display: block;
				@include outputList(getNestedMap($font-settings, 'sm', 'hero'));
			}
			@include atMedium {
				@include outputList(getNestedMap($font-settings, 'md', 'hero'));
			}
		}
	}
	&_infoBar {
		margin-bottom: $spacing;
		@include outputList(getNestedMap($font-settings, 'sm', 'primary'));
		@include atSmall {
			@include outputList(getNestedMap($font-settings, 'md', 'primary'));
			margin-bottom: $spacing-md;
		}

		@include atMedium {
			@include outputList(getNestedMap($font-settings, 'lg', 'primary'));
		}
		&_top {
			display: flex;
			align-content: stretch;
			border-bottom: $border-style;
			padding: $spacing 0;
			@include atSmall {
				padding: $spacing-md 0;
			}
			div {
				flex: 1 0 0;
			}
		}
		&_desc {
			max-height: 0rem;
			margin: 0;
			transition: max-height $tspeed, margin $tspeed;
			will-change: max-height, margin;
			overflow: hidden;
			p {
				margin: 0;
			}
			&___open {
				max-height: rem(400);
				margin-top: $spacing;
				@include atSmall {
					margin-top: $spacing-md;
				}
			}
		}
	}
}
